@import url('https://fonts.googleapis.com/css2?familyPoppins:wght@300;400;500;600;700;800;900&display=swap');
/*Css Base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
/* Estilizando a barra de rolagem */
/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Cor de fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #171717;
  }
  
  /* Cor da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  /* Adicionando uma sombra na barra de rolagem */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body{
    background: #000;
}
/*Css div parallax*/
#parallax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}
#parallax .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*Css img background*/
#parallax .layer.bg{
    background: url(./img/nierbackground.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Css img robot*/
#parallax .layer.robot{
    background: url(./img/robot.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Css img 2B*/
#parallax .layer.n2b{
    top: 100px;
    background: url(./img/2B.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Css img bottom*/
#parallax .layer.bottom{
    background: url(./img/bottom.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Css itens section*/
section{
    padding: 0 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.home{
    margin: 30px;
}
/*Css img logo*/
.home img{
    max-width: 500px;
}
/*Css lorem content*/
.home p{
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

.recepcao p{
    margin-bottom: 30px;
}
table {
    width: 50%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #555;
  }
  .recepcao{
    display: block;
  }
  .recepcao img{
    display: flex;
    position: absolute;
    height: 350px;
    right: 100px;
    top: 2750px;
    border-radius: 20px;
  }
.recepcao h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.personagens h1{
    font-size: 50px;
    margin: 30px;
}
.character{
    background-color: #171717;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}
.character img{
    height: 300px;
    border-radius: 20px 0 0 20px;
}
.character h2{
    margin-bottom: 20px;
    align-items: center;
}
.soundtrack{
    margin-bottom: 30px;
}
.soundtrack h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.soundtrack p{
    margin: 20px 0;
}
.soundtrack ul{
    text-align: left;
    margin-left: 20px;
}